html {
  background-color: rgb(43, 65, 71);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  text-align: center;
  width: 340px;
  height: 400px;
  background-color: white;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
  border-radius: 20px;
  display: flex;
  justify-content: end;
  transition: ease all .5s;
}

.Card {
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  background-color: lightsalmon;
  width: 240px;
  height: 400px;
}

@media (min-width: 480px) {
  .App {
    width: 500px;
    height: 400px;
  }
}