@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

html {
  position: absolute;
  background-color: #2b4147;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: 'Bree Serif', serif;
  transition: ease all .5s;
}

button {
  width: 40px;
  height: 40px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  position: relative;
  text-align: center;
  width: 340px;
  height: 400px;
  background-color: white;
  box-shadow: 5px 5px 8px rgba(0,0,0,0.3);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  transition: ease all .5s;
}

.Card {
  position: relative;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  width: 260px;
  height: 400px;
  transition: ease all .5s;
}

.buttons {
  position: relative;
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

ion-icon {
  color: #2b4147;
}

.home-button {
  border-radius: 50%;
  border: none;
  background: transparent;
}

.profile-button {
  border-radius: 50%;
  border: none;
  background: transparent;
}

.proyect-button {
  border-radius: 50%;
  border: none;
  background: transparent;
}

.contact-button {
  border-radius: 50%;
  border: none;
  background: transparent;
}

.indicator {
  position: absolute;
  width: 40px;
  height: 40px;
  background: black;
  left: 20px;
  top: 48px;
}

@media (min-width: 480px) {
  .App {
    width: 500px;
    height: 400px;
  }

  .Card {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    width: 500px;
    height: 320px;
    position: absolute;
  }

  .buttons {
    width: 500px;
    height: 80px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    top: 320px;
  }
}