@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

* {
  transition: ease all .5s;
}

html {
  position: absolute;
  background-color: #2b4147;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  transition: ease all .5s;
}

button {
  width: 40px;
  height: 40px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease all .5s;
}

.App {
  font-family: 'Merienda', cursive;
  position: relative;
  text-align: center;
  width: 340px;
  height: 400px;
  background-color: white;
  box-shadow: 5px 5px 8px rgba(0,0,0,0.3);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  transition: ease all .5s;
}

.Card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  width: 260px;
  height: 400px;
  transition: ease all .5s;
}

.buttons {
  position: relative;
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: ease all .5s;
}

ion-icon {
  color: #2b4147;
}

.home-card>h2 {
  color: white;
}

.profile-card>h2 {
  color: #2b4147;
}

.proyect-card>h2 {
  color: #2b4147;
}

.contact-card>h2 {
  color: #2b4147;
}

span {
  color: #2b4147;
}

img {
  width: 150px;
  border-radius: 50%;
  border: 10px solid #2b4147;
  transition: ease all .5s;
}

.proyect-link-top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.proyect-link-bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.proyect-link-top>a>img {
  width: 100px;
  border-radius: 10px;
  border: 5px solid #2b4147;
}

.proyect-link-bottom>a>img {
  width: 100px;
  border-radius: 10px;
  border: 5px solid #2b4147;
}

.proyect-link-top>.image-top {
  grid-column: 1 / 2;
}

.proyect-link-top>.image-bottom {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.proyect-link-bottom>.image-top {
  grid-column: 1 / 2;
}

.proyect-link-bottom>.image-bottom {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.home-button {
  border-radius: 50%;
  border: none;
  background: transparent;
}

.profile-button {
  border-radius: 50%;
  border: none;
  background: transparent;
}

.proyect-button {
  border-radius: 50%;
  border: none;
  background: transparent;
}

.contact-button {
  border-radius: 50%;
  border: none;
  background: transparent;
}

.home-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-card>p {
  color: #2b4147;
}

.home-card>i {
  color: #2b4147;
  font-size: 10px;
  position: absolute;
  bottom: 45px;
  right: 10px;
}

.profile-icons {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
}

.profile-icons>ion-icon {
  width: 30px;
  height: 30px;
}
.profile-icons>ion-icon:hover {
  transform: scale(1.5);
}

.home-card>a, .home-card>a:visited {
  text-decoration: none;
  color: #2b4147;
  border: 2.5px solid #2b4147;
  border-radius: 5px;
  font-size: 10px;
}

a:hover {
  transform: scale(1.25);
}

@media (min-width: 480px) {
  .App {
    width: 500px;
    height: 400px;
  }

  .Card {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    width: 500px;
    height: 320px;
    position: absolute;
  }

  .buttons {
    width: 500px;
    height: 80px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    top: 320px;
  }
}